#placehere{
  
   margin-top: 30px;
  background-color: aquamarine;
  border: 2px solid red;
}


img {
  
   border-radius: 50%;
   width: 20%;
   height: 20%;
}

.user-name{
  font-size: large;
 background-color: aqua;
 
}